.dropdown-container {
  display: flex;
  justify-content: space-between;
  max-width: 420px;
  margin: 0 auto;

  .dropdown {
    position: relative;

    text-align: left;
    color: black;

    display: block;
    flex: 1 0 0;
    margin-right: 1rem;
  }

  .submit-button {
    background-color: var(--theme-yellow);
    color: var(--theme-blue);
    border: none;
    padding: 0.8rem 1rem;
    line-height: 0.8rem;
    border-radius: 4px;
    cursor: pointer;
    font-family: var(--theme-font);
    text-decoration: none;
    font-size: smaller;

    &:hover {
      opacity: 0.85;
    }
  }
}
