form {
	h3 {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.subform {
		border: solid 1px;
		padding: 5px 15px 15px 15px;
		box-shadow: 3px 3px 7px -1px;
		margin-bottom: 10px;
	}

	.section-header {
		& > * {
			display: inline-block;
			vertical-align: middle;
			margin-right: 10px;
		}
	}

	.input-wrapper {
		display: inline-block;
		width: 100%;

		label {
			display: block;
			font-weight: bold;
		}

		input,
		textarea,
		select {
			display: block;
			width: 100%;
			padding: 8px 12px;
			border-radius: 5px;
			box-shadow: 3px 3px 8px -2px #888888;
			border: solid 1px #888;
			margin-bottom: 10px;
			box-sizing: border-box;
		}

		&.radio {
			display: block;

			input {
				width: auto;
				padding: 8px 8px;
				display: inline-block;
			}

			label {
				display: inline-block;
				padding-left: 10px;
			}
		}
	}

	.actions {
		margin-top: 30px;
	}

	.autocomplete-box {
		position: relative;
		margin-bottom: 10px;
		box-sizing: border-box;
		padding-right: 0px;
		display: block;

		> div {
			position: relative;
		}

		input {
			margin-bottom: 2px;
			box-sizing: border-box;
		}

		.results {
			margin: 0px;
			position: absolute;
			top: 100%;
			width: 100%;
			box-sizing: border-box;
			text-align: left;
			margin-left: 0px;

			li {
				border-bottom: solid 1px #ccc;
				margin: 0px;
				width: 100%;
				padding: 6px 12px;
				margin-bottom: 2px;
				background-color: white;
				border-radius: 5px;
				border: solid 1px;
				cursor: pointer;
				box-sizing: border-box;
			}
		}
	}

	.override-width {
		input {
			width: calc(100% - 32px);
		}
	}
}
