@use "./buttons.scss";
@use "./forms.scss";
@use "./slideout.scss";
@use "./lists.scss";
@use "./icons.scss";
@use "./grids.scss";
@use "./notifications.scss";
@use "./auth.scss";
@use "./markdown.scss";
@use "./history.scss";

@use "./confirmation.scss";

@use "./pages/towns.scss";
@use "./pages/landing.scss";

:root {
	--democrat-blue: #15008e;
	--democrat-blue-light: #0044c9;
	--democrat-blue-lighter: #456bb6;
	--light-blue: #c2cbdb;
	--democrat-yellow: #f4ab00;
	--error-color: #d03214;
	--page-width: 1280px;
}

html {
	min-height: 100vh;
	width: 100%;

	a { 
		color: var(--democrat-blue); 
		:hover {
			color: var(--democrat-blue-light);
		}
	}
}

body {
	font-family: "Montserrat", serif !important;
	min-height: 100vh;
	width: 100%;
	background-color: red;
}

#root {
	background-color: white;
	width: 100%;
	min-height: 100vh;
}

h2 {
	margin-top: 15px;
}

header {
	color: white;
	background-color: var(--democrat-blue);
	box-shadow: 0px 0px 13px 4px var(--democrat-blue);
	padding: 0px 20px;
	position: fixed;
	width: 100%;
	top: 0px;
	box-sizing: border-box;
	z-index: 10;

	nav {
		display: block;
		margin: 0px auto;

		.logo {
			img {
				display: inline-block;
				height: 40px;
			}

			h2 {
				display: inline-block;
				color: white;
				margin: 0;

				span {
					&:first-child {
						color: red;
					}
				}
			}
		}

		.uk-navbar-right {
			span {
				a {
					margin-left: 10px;
				}
			}
		}
	}
}

.content {
	display: flex;
	flex-direction: column;
}

.page {
	display: block;
	margin: 0px auto;
	padding: 60px;
	width: var(--page-width);
	@media (max-width: 767px) {
		padding: 60px 30px 30px 30px;
		width: 100%;
	}
}

.aligned {
	display: flex;

	.aligned-left {
		flex: 1;
	}
}

.hidden {
	display: none;
}

.parenthetical {
	color: #c94609 !important;
	padding: 15px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 3px 4px 10px 1px #000;
}

.check-icon-fix {
	svg {
		transform: translateY(2px);
	}
}

input[type="radio"] {
	border-color: black !important;
}

.actions {
	display: flex;
	gap: 10px;
}

.uk-subnav {
	background-color: white;
	margin-left: 0px;

	li {
		&:first-child {
			padding-left: 0px;
		}
	}
}

.disable-clicks {
	.clickable {
		pointer-events: none;
	}
}