.bulk-actions-button {
	display: block;
	width: 60%;
	font-size: 16px;
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--democrat-blue);
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	opacity: 0.8;
}