#landing-page {
	display: flex;
	padding-top: 80px;
	padding-left: 300px;
	box-sizing: border-box;

	& > div {
		box-sizing: border-box;
	}

	.left-nav {
		padding: 30px;
		min-width: 300px;
		margin-left: -300px;
		margin-top: 5px;
	}

	.landing-content {
		padding: 30px;
		width: 100%;
	}

	.progress {
		width: 100%;
		height: 350px;
		position: relative;

		.bulb {
			width: 44px;
			height: 52px;
			border-radius: 25px;
			background-color: red;
			position: absolute;
			bottom: 0px;
			left: 7px;
		}

		.done {
			position: absolute;
			bottom: 50px;
			width: 25px;
			left: 16px;
			background-color: red;
		}

		.in_progress {
			position: absolute;
			width: 25px;
			left: 16px;
			background-color: yellow;
		}

		.thermometer {
			background-image: url("../../../public/images/thermometer.png");
			background-size: contain;
			background-repeat: no-repeat;
			background-position: left center;
			border-bottom: solid 4px #000;
			position: relative;

			width: 100%;
			height: 100%;
		}
	}

	@media (max-width: 575px) {
		display: block;
		padding-left: 0px;

		.left-nav {
			margin-left: 0px;
			padding-bottom: 0px;
		}
	}
}
