#landing-page {
	display: flex;
	padding-top: 80px;
	padding-left: 300px;
	box-sizing: border-box;

	& > div {
		box-sizing: border-box;
	}

	.left-nav {
		padding: 30px;
		min-width: 300px;
		margin-left: -300px;
		margin-top: 5px;
	}

	.landing-content {
		padding: 30px;
		width: 100%;
	}

	@media (max-width: 575px) {
		display: block;
		padding-left: 0px;

		.left-nav {
			margin-left: 0px;
			padding-bottom: 0px;
		}
	}
}
