#towns {
	display: flex;
	padding-top: 80px;
	padding-bottom: 0;
	height: 100vh;
	box-sizing: border-box;
	padding-left: 0;
	padding-right: 0;

	.sidebar {
		flex: 0.2;
		height: 100%;
		box-sizing: border-box;
		padding-top: 110px;
		padding-left: 30px;

		p.loading {
			margin-top: -50px;
		}

		ul {
			height: 100%;
			overflow: auto;
			margin-top: 0;
			padding-top: 20px;
			padding-bottom: 20px;
			box-sizing: border-box;

			li {
				width: 100%;

				a {
					padding-left: 10px;
				}

				span {
					border: solid 1px #666;
					background-color: white;
					color: white;
				}

				.in-progress {
					background-color: yellow;
					color: yellow;
				}

				.done {
					background-color: lightgreen;
					color: #666;
				}
			}
		}

		border-right: solid 1px #ccc;
		box-shadow: 0 0 0 0 #ccc;

		.sidebar-header {
			position: relative;
			padding-right: 30px;
			box-sizing: border-box;
			margin-top: -25%;
			background-color: white;
			z-index: 1;

			.not-authed {
				background-color: #ffdddd;
				border: solid 1px #ffaaaa;
				padding: 10px;
				margin-bottom: 30px;
				border-radius: 5px;

				p {
					margin: 0;
					color: #aa0000;
					font-weight: bold;
				}
			}
		}
	}

	.page-content {
		padding-top: 60px;
		padding-left: 60px;
		padding-right: 30px;
		padding-bottom: 20px;
		box-sizing: border-box;
		flex: 0.8;
		height: 100%;
		overflow: auto;

		.town-header {
			align-items: center;

			h2 {
				margin-right: auto;
			}

			a {
				display: block;
			}
		}

		section {
			&.uk-flex {
				section:first-child {
					padding-right: 10px;
				}

				section:last-child {
					padding-left: 10px;
				}
			}

			.section-header {
				h2 {
					display: inline-block;
					vertical-align: middle;
					margin-right: 10px;
				}

				.btn {
					display: inline-block;
					vertical-align: middle;
				}
			}
		}

		form {
			.input-wrapper {
				padding-right: 10px;

				& > div {
					padding-right: 10px;
				}

				&.split {
					margin-right: -10px;
				}
			}

			section {
				padding-bottom: 20px;

				&.basic-info {
					h2 {
						margin-bottom: 10px;
					}

					a {
						margin-right: 15px;
					}
				}
			}
		}
	}

	.source {
		.url a {
			white-space: nowrap;
			text-overflow: ellipsis;
			display: inline-block;
			width: 100%;
			overflow: hidden;
		}
	}

	form.row,
	.source.row,
	.note.grid {
		margin-top: 10px;
	}

	.note {
		.summary {
			border-bottom: solid 1px #ccc;
		}

		.content {
			line-height: 1.2;

			div {
				padding: 10px 0px;
			}
		}
	}
}