#towns {
	display: flex;
	padding-top: 0px;

	.sidebar {
		padding-top: 60px;
		flex: 0.2;
		height: 100vh;
		overflow: auto;

		ul {
			li {
				width: 100%;

				a {
					padding-left: 10px;
				}

				span {
					border: solid 1px;
					background-color: white;
				}
			}
		}

		border-right: solid 1px #ccc;
		box-shadow: 0 0 0 0 #ccc;
	}

	.page-content {
		padding-top: 60px;
		padding-left: 60px;
		padding-right: 30px;
		flex: 0.8;
		height: 100vh;
		overflow: auto;

		.town-header {
			align-items: center;

			h2 {
				margin-right: auto;
			}

			a {
				display: block;
			}
		}

		section {
			&.uk-flex {
				section:first-child {
					padding-right: 10px;
				}

				section:last-child {
					padding-left: 10px;
				}
			}

			.section-header {
				h2 {
					display: inline-block;
					vertical-align: middle;
					margin-right: 10px;
				}

				.btn {
					display: inline-block;
					vertical-align: middle;
				}
			}
		}

		form {
			.input-wrapper {
				padding-right: 10px;

				& > div {
					padding-right: 10px;
				}

				&.split {
					margin-right: -10px;
				}
			}

			section {
				padding-bottom: 20px;

				&.basic-info {
					h2 {
						margin-bottom: 10px;
					}

					a {
						margin-right: 15px;
					}
				}
			}
		}
	}

	.source {
		.url a {
			white-space: nowrap;
			text-overflow: ellipsis;
			display: inline-block;
			width: 100%;
			overflow: hidden;
		}
	}

	form.row,
	.source.row,
	.note.grid {
		margin-top: 10px;
	}

	.note {
		.summary {
			border-bottom: solid 1px #ccc;
		}

		.content {
			line-height: 1.2;

			div {
				padding: 10px 0px;
			}
		}
	}
}
