@use "./pages/page.scss";
@use "./pages/onboarding.scss";

@use "./components/forms.scss";
@use "./components/locationAutocomplete.scss";

:root {
  --theme-yellow: #f4ab00;
  --theme-blue: #15008e;
  --font-blue: #241673;
  --light-blue: #0020c325;

  --header-height: 100px;
  --footer-height: 50px;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;

  margin: 0px;
  padding: 0px;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--font-blue);
}

.layout {
  position: relative;
  display: flex;
  top: 0px;
  left: 0px;
  padding-top: var(--header-height);
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;

  .layout-content {
    display: flex;
    min-height: 100%;
  }
}

header.main-header {
  width: 100%;
  height: var(--header-height);
  margin-top: calc(var(--header-height) * -1);

  display: block;
  padding: 28px 26px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 5px #ccc;

  .main-header-wrapper {
    display: flex;
    align-items: center;

    .header-left {
      font-weight: bold;
      font-size: 36px;
      color: var(--font-blue);
      margin-right: auto;
    }

    .header-right {
      text-align: right;

      label {
        margin-right: 10px;
        font-weight: bold;
      }

      .address {
        div {
          display: inline-block;
        }
      }

      .sub {
        font-size: 80%;
        margin-top: 5px;
      }
    }
  }
}

header.sub-header {
  width: 100%;
  display: block;
  overflow: hidden;
  background-color: var(--theme-yellow);
  box-sizing: border-box;

  p {
    padding: 20px 26px;
    margin: 0px;
    overflow: hidden;
    text-align: center;
  }
}

footer {
  width: 100vw;
  min-height: var(--footer-height);
  display: flex;
  background-color: var(--theme-blue);
  color: white;
}

.layout-content {
}

.hero {
  background-color: var(--theme-blue);
  width: 100%;
  height: 420px;
  box-sizing: border-box;
  padding: 64px;

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 24px;
  }

  .hero-image {
    .hero-content {
      display: inline-block;
      position: relative;
      text-align: left;

      img {
        border-radius: 30px;
      }

      a {
        color: white;
        text-decoration: none;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0px;
        text-align: left;
        padding: 10px;
        transform: translateY(-50%);
      }
    }
  }
}

.flex-container {
  display: flex;
  color: white;

  & > div {
    flex: 1;
    text-align: right;
  }
}

.hidden {
  display: none;
}
