.grid-10 {
	display: grid !important;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	column-gap: 10px;

	& > * {
		padding: 0px !important;
		margin: 0px !important;
	}

	@for $i from 1 through 10 {
		.width-#{$i}-10 {
			grid-column: span #{$i};
		}
	}

	@for $i from 1 through 5 {
		.width-#{$i}-5 {
			grid-column: span #{$i * 2};
		}
	}

	@for $i from 1 through 1 {
		.width-#{$i}-1 {
			grid-column: span #{$i * 10};
		}
	}
}

.grid {
	display: grid !important;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	column-gap: 10px;

	& > * {
		padding: 0px !important;
		margin: 0px !important;
	}

	@for $i from 1 through 12 {
		.width-#{$i}-12 {
			grid-column: span #{$i};
		}
	}

	@for $i from 1 through 6 {
		.width-#{$i}-6 {
			grid-column: span #{$i * 2};
		}
	}

	@for $i from 1 through 4 {
		.width-#{$i}-4 {
			grid-column: span #{$i * 3};
		}
	}

	@for $i from 1 through 3 {
		.width-#{$i}-3 {
			grid-column: span #{$i * 4};
		}
	}

	@for $i from 1 through 2 {
		.width-#{$i}-2 {
			grid-column: span #{$i * 6};
		}
	}

	@for $i from 1 through 1 {
		.width-#{$i}-1 {
			grid-column: span #{$i * 12};
		}
	}
}
